# Environment
NODE_ENV=development

# Application Port
PORT=2000

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nestjs

# Password encryption
PASSWORD_ROUNDS=5

# JWT Secret
JWT_ACCESS_SECRET=a-secret
JWT_REFRESH_SECRET=r-secret

# Telegram Bot Token
TELEGRAM_TOKEN=0000000000:xxxxxxxxxxxxxxxxxxxxxx-aaaaaaaaaaaa
